<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- 
    <link href="/assets/img/favicon.png" rel="icon">
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/assets/vendor/line-awesome/css/line-awesome.min.css" rel="stylesheet">
    <link href="/assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/assets/vendor/aos/aos.css" rel="stylesheet">

   
    -->

    <!-- Bootstrap CSS -->

    <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/createquizee.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link href="/assets/compheader.css" rel="stylesheet">
</head>
  <body>

<!--navabar component-->
    <%- include('partials/navbar') %>
      <div class="container shadow mt-5"><br><br><br>
          <h3>Offline Quizes available for you</h3>
    <!-- <div class="row row-cols-3 d-flex flex-wrap row-cols-md-3 g-4"style="width:100vh"> -->
   <div class="row mt-5 flex-wrap">
       
        <% for(let a=0; a< results.length ;a++){
            %>
            <a href=<%="/api/v1/fetchquiz?id="+results[a].quiz_id%> style="text-decoration: none;color: black;">
        <div class="col  mt-3 ml-2" >
            <div class="card shadow h-100 mt-2 ml-2"style="width: 18rem;">
              <img src="/sample.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title"> <%=results[a].tittle%></h5>
                <p class="card-text"><%=results[a].description%> </p>
                <h6>created by :<%=results[a].fullname %> </h6>
              </div>
            </div>
          </div></a>
        
          <%}%>
        </div>
        
 
<!-- </div> -->

</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>