<!doctype html>
<html lang="en">
    <head>
        <title>Title</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <link href="/assets/img/favicon.png" rel="icon">
        <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    
        
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    
        
        <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
        <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
        <link href="/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
        <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
        <link href="/assets/vendor/line-awesome/css/line-awesome.min.css" rel="stylesheet">
        <link href="/assets/vendor/venobox/venobox.css" rel="stylesheet">
        <link href="/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
    
       
        <link href="/assets/css/style.css" rel="stylesheet">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
  
    <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/createquizee.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link href="/assets/compheader.css" rel="stylesheet">
</head>
  <body>
   
<!--navabar component-->
    <%- include('partials/navbar') %>
      <div class="container">
    <div class="row row-cols-1  justify-content-center align-items-center d-flex-wrap row-cols-md-3 g-4">
  <div class="col shadow d-flex justify-content-center" >
    <div class="card shadow-lg p-3 mb-5 bg-white rounded h-100"style="width: 50rem;">
        <div class="d-flex shadow-lg p-3 mb-5 bg-white rounded justify-content-center" style="height: 25rem;width: 45rem;">
            <img src="/sample.jpeg" class="card-img-top" alt="...">
    
        </div>       
        <div class="card-body justify-content-center align-items-center"> 
        <p><h5 class="card-title">Quiz Details</h5></p>
        <p class="card-text">Quiz name : <b><%=results.name%><b></p>
        <p class="card-text">Quiz Description : <b><%=results.description%><b></p>
        <p class="card-text">Number of questions : <b><%=results.number%> <b></p>
            <p class="card-text">Quiz Time : <b><%=results.overall_timer%><b></p>
               <a href=<%="/api/v1/upload-multiple-files?quiz_id="+quiz_id%> >  Start Quiz</a>
                <a href="/api/v1/offlineQuiz"> <button type="button" class="btn btn-primary">Back</button ></a>
 
            </div>
    </div>
  </div>
 

</div>
<div hidden id ="file" >
  <%=results.questions %>
</div>

<div hidden id ="timer" >
  <%=results.overall_timer %>
</div>
<script>
    
let file1 = document.getElementById('file').innerHTML;
      
      let file = JSON.parse(file1);
      
         
let timer = document.getElementById('timer').innerHTML;
  
      let time =  JSON.parse(timer);
      console.log(time);
     
      localStorage.setItem("offline_quiz",file1);
      localStorage.setItem("timer",time);

      function setWithExpiry(key, value, ttl) {
				const now = new Date()

				// `item` is an object which contains the original value
				// as well as the time when it's supposed to expire
				const item = {
					value: value,
					expiry: now.getTime() + ttl,
				}
				localStorage.setItem(key, JSON.stringify(item))
			}

			function getWithExpiry(key) {
				const itemStr = localStorage.getItem(key)

				// if the item doesn't exist, return null
				if (!itemStr) {
					return null
				}

				const item = JSON.parse(itemStr)
				const now = new Date()

				// compare the expiry time of the item with the current time
				if (now.getTime() > item.expiry) {
					// If the item is expired, delete the item from storage
					// and return null
					localStorage.removeItem(key)
					return null
				}
				return item.value
			}
</script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>